{% if product.tags.size > 0 %}
  <div class="product-tags-inline">
    {% for tag in product.tags %}
      <span class="product-tags-inline__tag">{{ tag }}</span>
    {% endfor %}
  </div>
{% endif %}

<style>
  .product-tags-inline {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .product-tags-inline__tag {
    padding: 0.35rem 0.75rem;
    color: {{ block.settings.tag_color }};
    border:2px solid {{ block.settings.tag_color }};
  }
</style>

{% schema %}
{
  "name": "Product Tags",
  "settings": [
    {
      "type": "color",
      "id": "tag_color",
      "label": "Tag Color"
    }
  ],
  "presets": [
    {
      "name": "Product Tags"
    }
  ]
}
{% endschema %}
